$body-background: #001;
$title-color: #FF9;
$sprint-background:  #699;
$sprint-foreground: #FFF;
$sprint-header-background: #033;
$sprint-header-foreground: #FFF;
$task-button-background: #FFF;
$task-button-foreground: #000;
$add-task-background: $task-button-background;
$add-task-foreground: $task-button-foreground;
$task-done-background: $task-button-background;
$task-done-foreground: $task-button-foreground;
$task-name-input-background-active: #FFF;
$task-name-input-background-inactive: #999;
$task-name-input-foreground-active: #000;
$task-name-input-foreground-inactive: #666;
$edit-task-form-background: #699;
$edit-task-form-foreground: #000;
$task-label-foreground: $edit-task-form-foreground;
$task-label-background: $edit-task-form-background;
$taginput-background: #FFF;
$taginput-tag-border: #000;
$taginput-tag-background: #666;
$taginput-tag-foreground: #FFF;
$taginput-closebutton-foreground: #000;

