$body-background: #001;
$title-color: #FF9;
$sprint-background:  #699;
$sprint-foreground: #FFF;
$sprint-header-background: #033;
$sprint-header-foreground: #FFF;
$add-task-background: #FFF;
$add-task-foreground: #000;
$task-name-input-background-active: #FFF;
$task-name-input-background-inactive: #999;
$task-name-input-foreground-active: #000;
$task-name-input-foreground-inactive: #666;
