
@import url(reset.css);
#app {
  width: 100vw;
  min-height: 100vh;
  background-color: #001; }

.title {
  margin: auto;
  width: 12em;
  text-align: center;
  height: 1em;
  padding-top: 3em;
  font-size: 24pt;
  font-family: sans-serif;
  color: #FF9; }
  .title:hover {
    cursor: pointer; }

.sprintlist {
  display: block;
  margin: auto;
  width: 25vw; }
  .sprintlist .sprint {
    text-align: left;
    font-size: 18pt;
    font-family: sans-serif;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    white-space: no-wrap; }
    .sprintlist .sprint h2 {
      background-color: #033;
      color: #FFF;
      padding: 0.5em;
      border-radius: 5px;
      overflow: hidden;
      text-overflow: ellipsis; }
      .sprintlist .sprint h2 .start-date {
        float: right; }
    .sprintlist .sprint .tasks {
      background-color: #699;
      color: #FFF;
      padding: 1em;
      padding-bottom: 0.5em; }
    .sprintlist .sprint:last-child {
      margin-bottom: 0; }
    .sprintlist .sprint:hover {
      cursor: pointer; }
    .sprintlist .sprint.expanded h2 {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }

.tasklist li {
  display: flex;
  overflow: hidden;
  font-size: 18pt;
  height: 2em; }

.task-name-input {
  margin: 0;
  padding: 0.5em;
  border: none;
  background-color: #999;
  color: #666;
  font-size: inherit; }
  .task-name-input:active, .task-name-input:focus {
    background-color: #FFF;
    color: #000; }

.taskDone {
  background-color: #FFF;
  color: #000;
  padding: 0.5em;
  width: 2em;
  text-align: center;
  font-size: inherit; }

.addTask {
  background-color: #FFF;
  color: #000;
  border: none;
  display: block;
  margin: 0 auto;
  padding: 0.5em 1.5em;
  font-size: 16pt;
  outline: none; }
  .addTask:hover, .addTask:active {
    text-shadow: 0px 0px 5px #808080;
    cursor: pointer; }
