@import "reset.css";
@import "colorscheme.scss";

body {
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

#app {
    width:100vw;
    min-height:100vh;
    background-color: $body-background;
    overflow: hidden;
}

.title {
    margin: auto;
    text-align:center;
    height: 1em;
    padding: 1em;
    font-size: 24pt;
    font-family: sans-serif;
    color: $title-color;
    &:hover {
        cursor: pointer
    }
}
