@import "reset.css";
@import "colorscheme.scss";

#app {
    width:100vw;
    min-height:100vh;
    background-color: $body-background;
}
.title {
    margin: auto;
    width: 12em;
    text-align:center;
    height: 1em;
    padding-top: 3em;
    font-size: 24pt;
    font-family: sans-serif;
    color: $title-color;
    &:hover {
        cursor: pointer
    }
}
