@import "colorscheme.scss";
@import "layout-vars.scss";
.sprintlist {
    display: block;
    margin: auto;
    width: $app-inner-width;
    .sprint {
        h2 {
            background-color: $sprint-header-background;
            color: $sprint-header-foreground;
            padding: 0.5em;
            border-radius: 5px;
            overflow: hidden;
            text-overflow:ellipsis;
            .start-date {
                float: right;
            }
        }
        .tasks {
            background-color: $sprint-background;
            color: $sprint-foreground;
            padding: 1em;
            padding-bottom: 0.5em;
            .task
            {
                &.priority-high {
                    background-color: #933;
                }
                &.priority-medium {
                    background-color: #963;
                }
                &.priority-low {
                    background-color: #693;
                }
                .taskDone {
                    &.selected {
                        &:before {
                            content: "\2714";
                        }
                    }
                }
            }
        }
        text-align: left;
        font-size: 18pt;
        font-family: sans-serif;
        margin-bottom: 5px;
        border-radius: 5px;
        width:100%;
        overflow:hidden;
        white-space:no-wrap;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            cursor: pointer;
        }
        &.expanded {
            h2 {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}
